<div class="container-fluid">
    <div class="row">
        <div class="col-lg-12">
            <div [ngClass]="{'orderForm': true}">

                <h2> ADD ORDER </h2>
                <form id="loginform" class="form-horizontal" role="form">
                    <input type="text" name="orderid" class="form-control" placeholder="Enter orderId" />
                    <input type="text" name="orderid" class="form-control" placeholder="Enter orderId" />
                </form>

            </div>
        </div>
    </div>
</div>